body{
  background-color:#f4f4f4;
  background-size:cover;
  position:relative;
  color:#555;
  font-family:Arial, Helvetica, sans-serif;
  font-size:16px;
  line-height:1.6em;
  margin:auto;
  height:100%;

}


.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}
.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}


.button{
  background-color:#333;
  color:#fff;
  padding:10px 15px;
  border:none;
}

.button:hover{
  background:red;
  color:#fff;
}
.bg-img {
    /* The image used */
    background-image: url("img_nature.jpg");

    min-height: 380px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*
.container{
  width:33.33%;
  display:table;
  overflow:hidden;
}*/
.btn-search {
    background: #424242;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #1c1c1c;
  }
  .btn-search:link, .btn-search:visited {
    color: #fff;
  }
  .btn-search:active, .btn-search:hover {
    background: #1c1c1c;
    color: #fff;
  }
.form-control {
  background-image: url('https://res.cloudinary.com/dt9b7pad3/image/upload/v1502810110/angle-down-dark_dkyopo.png');
  background-position: right center 5px;
}

.box-1 h5{
  font-weight:200;
  text-transform:uppercase;
  letter-spacing: 0.1em;
}
#search1{
  width: 50%;
  margin: auto;
}

h5{
  color:#333;
}
#main-header{
  background-color:coral;
  color:#fff;
}

#navbar{
  background-color:#333;
  color:#fff;
}

#navbar ul{
  padding:0;
  list-style: none;
}

#navbar li{
  display:inline;
}

#navbar a{
  color:#fff;
  text-decoration: none;
  font-size:18px;
  padding-right:15px;
}

#showcase{
  background-image:url('showcase.jpg');
  background-position:center right;
  min-height:300px;
  margin-bottom:30px;
  text-align: center;
}

#showcase h1{
  color:#fff;
  font-size:50px;
  line-height: 1.6em;
  padding-top:30px;
}

#main{
  float:left;
  width:70%;
  padding:0 30px;
  box-sizing: border-box;
}

#sidebar{
  float:right;
  width:30%;
  background: #333;
  color:#fff;
  padding:10px;
  box-sizing: border-box;
}

#main-footer{
  background: #333;
  color:#fff;
  text-align: center;
  padding:20px;
  margin-top:40px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
}
@media(max-width:600px){
  #main{
    width:100%;
    float:none;
  }

  #sidebar{
    width:100%;
    float:none;
  }
}


.wrapper {
width:80%;
margin : 0;
border : solid 1px #000;
border-radius: 25px;
margin: 10px;
}

.sel_item_image_view{

width:30%;
margin : 0;
float : left ;
}

.sel_item_info {
width:30%;
margin : 0;
float : left ;
}
