.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative;  }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#000;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }

        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }



//mega dropdown css starts
--- */
*, *:before, *:after {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}
body{background:#F5EFEF;line-height:1.5;font-family:sans-serif;text-transform:uppercase;font-size:16px;color:#fff}
a{text-decoration:none;color:#fff}
#header{background:#666666;width:100%;position:relative;}
#header:after{content:"";clear:both;display:block}
.search{float:right;padding:30px}
input{border:none;padding:10px;border-radius:20px}
.logo{float:left;padding:26px 0 26px}
.logo a{font-size:28px;display:block;padding:0 0 0 20px}
nav{float:left;background-color: #666666}
nav>ul{float:left;position:relative}
nav li{list-style:none;float:left}
nav .dropdown{position:relative}
nav li a{float:left;padding:30px}
nav li a:hover{background:#CCCCCC}
nav li ul{display:none}
#header nav ul div a { text-transform: capitalize; color: #fff; }

#header nav li a { text-transform: capitalize; color: #fff; }
nav li:hover ul{display:inline}
nav ul li a {text-decoration-color:#F9774F  }
nav li li{float:none;text-decoration-color:#F9774F}
nav .dropdown ul{position:absolute;left:0;top:100%;background:#fff;padding:20px 0;border-bottom:3px solid #34495e}
nav .dropdown li{white-space:nowrap}
nav .dropdown li a{padding:10px 35px;font-size:13px;min-width:200px;color:#59B270;}
nav .mega-dropdown{width:100%;position:absolute;top:100%;left:0;background:#666666;overflow:hidden;padding:20px 35px;border-bottom:3px solid #34495e;z-index: 1}
nav li li a{float:none;color:#333;display:block;padding:8px 10px;border-radius:3px;font-size:13px}
nav li li a:hover{background:#bdc3c7;background:#FAFBFB}
.mega-col{width:25%;float:left}
#menu-icon{position:absolute;right:0;top:50%;margin-top:-12px;margin-right:30px;display:none}
#menu-icon span{border:2px solid #fff;width:30px;margin-bottom:5px;display:block;-webkit-transition:all .2s;transition:all .1s}
@media only screen and (max-width: 1170px) {
  nav >ul>li >a{padding:35px 15px}
}
@media only screen and (min-width: 960px) {
  nav{display:block!important}
}
@media only screen and (max-width: 959px) {
  nav{display:none;width:100%;clear:both;float:none;max-height:400px;overflow-y:scroll}
  #menu-icon{display:inline;top:45px;cursor:pointer}
  #menu-icon.active .first{transform:rotate(45deg);-webkit-transform:rotate(45deg);margin-top:10px}
  #menu-icon.active .second{transform:rotate(135deg);-webkit-transform:rotate(135deg);position:relative;top:-9px;}
  #menu-icon.active .third{display:none}
  .search{float:none}
  .search input{width:100%}
  nav{padding:10px}
  nav ul{float:none}
  nav li{float:none}
  nav ul li a{float:none;padding:8px;display:block}
  #header nav ul ul{display:block;position:static;background:none;border:none;padding:0}
  #header nav a{color:#fff;padding:8px}
  #header nav a:hover{background:#fff;color:#333;border-radius:3px}
  #header nav ul li li a:before{content:"- "}
  .mega-col{width:100%}
}

#nav2{
  float: right;
}
.logos{
  font-family: 'Ranga', cursive;

}
//mega dropdown css ends

body{

  background-size:cover;
  color:#F5EFEF;
  font-family:Arial, Helvetica, sans-serif;
  font-size:16px;
  line-height:1.6em;
  margin:auto;
  height:100%;

}


a{
color: black;
text-decoration:none;
font-size: large;
}
a:link{
  color:black;
}
a:visited{
color:limegreen;
}
a:hover{
color:palegreen;
}
a:active{
color:lime;
}
body{
  background-color:#f4f4f4;
  background-size:cover;
  color:#555;
  font-family:Arial, Helvetica, sans-serif;
  font-size:16px;
  line-height:1.6em;
  margin:auto;
  height:100%;

}
.box{
  width:20%;
  padding:10px;
  float:left;

}
.box-1{
    width:80%;
    float:left;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: ridge;
    border-width: 1px;
    padding: 5px;
}
box-1 h5{
  font-weight:200;
  text-transform:uppercase;
  letter-spacing: 0.1em;
}

.bg-steel {
  background-color: #5f788a;
}
.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}
.button{
  background-color:rgb(126,115,97);
  color:#fff;
  padding:10px 15px;
  border:none;
}

.button:hover{
  background:red;
  color:#fff;
}
.btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
        border-color: black;
      }

.btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        text-align: center;
        padding: 13px 0;
        font-size: 20px;
        line-height: 1.33;
        border-radius: 25px;
        border-color: black;
      }


.bg-img {
    /* The image used */
    background-image: url("img_nature.jpg");

    min-height: 380px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  color: #ffffff;
  background-color: pink;
  border-color: pink;
}
.btn-search {
    background: #424242;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #1c1c1c;
  }
  .btn-search:link, .btn-search:visited {
    color: #fff;
  }
  .btn-search:active, .btn-search:hover {
    background: #1c1c1c;
    color: #fff;
  }
.bold{
  font-weight: bold;
}
#box-hover:hover{
  background-color: rgb(149,251,162);
}
.col_3{
  width:30%;
  padding:20px;
  float: left;
  border: 3px outset;
}
.cart-right{
float: right;
height: 20px;
clear:right;

}
.cart-left{

  float:left;

}
.Checkbox{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.Checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.Checkbox :hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.Checkbox input:checked ~ .checkmark {
  background-color: #FF1493;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.Checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.Checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container0{
  float: left;
  clear:left;
  width:100%;
  padding:50px;
  border: 3px groove;
}
.center-box{
  margin-left: auto;
margin-right: auto;
}
.center{
display:block;
width: 100%;
text-align: center;
}
.coloumn1
{

  width:60%;
  float:left;
  padding:10px;
}
.coloumn2
{
   width:40%;
  float:left;
  padding:10px;
  margin-right:10px;

}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    color: red;
    text-decoration: line-through;
}
.eighty
{
  width:80%;
  float:left;
  padding-left:10px;
  padding-right:10px;

}
.equal-container{
  float:left;
  width:40%;
  height: 250px;
  margin:10px;
  border:3px groove;
  padding: 10px;

}
.fifteen{
  margin-left: 10px;
  width:15%;
  float:left;
  padding: 5px;
  border-right:3px groove;
  border-radius: 2px;
}
.fifty-box{
  width:50%;
  margin-top: 20px;
  padding:30px;
  border: 3px ridge;

}

.form-image{
  background-image: url('/static/background.jpg');
  background-repeat: no-repeat;
  width:100%;
  height:100%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
}

.form-control {
  background-image: url('https://res.cloudinary.com/dt9b7pad3/image/upload/v1502810110/angle-down-dark_dkyopo.png');
  background-position: right center 5px;
}
.full-box
{
  border-left: 2px solid pink;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: outset;
  border-width: 1px;
  padding: 5px;

}
.grey{
color:silver;
}

h5{
  color:#333;
}
.inline li{
padding:25px;
display: inline;
}

.image{
  width:50%;
  padding:5px;
  float: left;

}
.image-left{
  float: left;
  border:3px;
  overflow:auto;
  clear: both;
}
.left{
float:left;
}
.large
{
  width:60%;
  float:right;
  padding:40px;
   margin: 10px;
}
.left{
  float: left;
  clear:left;
}


.middle-price{
 text-allign:center;

}
.middle{
  margin-left: auto;
  margin-right:auto;
}
#main{
  float:left;
  width:70%;
  padding:0 30px;
  box-sizing: border-box;
}
#main-footer{
  background: #333;
  color:#fff;
  text-align: center;
  padding:20px;
  margin-top:40px;
}

@media(max-width:600px){
  #main{
    width:100%;
    float:none;
  }

  #sidebar{
    width:100%;
    float:none;
  }
}


.new{
  clear:left;
  padding-left: 10px;
}
.new-container{
  clear:left;
  width:70%;
  margin-left: auto;
  margin-right: auto;
}
.normal{
  font-size: larger;
}

.orange{
  background-color:#ff9800;
}


.right{
float:right;
}

.underline{
  text-decoration: underline;
  color: limegreen;
}
.orange{
  color:orange;
}
.pink{
  color: red;
}
.price
{
  font-size: xx-large;
}
 .Radiobutton {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.Radiobutton input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

/* On mouse-over, add a grey background color */
.Radiobutton :hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.Radiobutton input:checked ~ .checkmark {
  background-color: #FF1493;
}


/* Show the checkmark when checked */
.Radiobutton input:checked ~ .checkmark:after {
  display: block;
}



.Radiobutton .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.right
{
  position: absolute;
   top: 0;
   right: 0;
   width: 100px;
    text-align:right
  /*position:absolute;
  right:0px;
*/}
.seventy{
  width:70%;
  float:left;
  padding-left:10px;
  padding-right:10px;
}

.seventy-box{
  width:70%;
  margin-top: 20px;
  padding:30px;
  border: 3px ridge;

}
.small-text{
  font-size: 15px;
}
.small
{
  width:30%;
  float:left;
  padding:20px;
  clear:left;
  margin: 10px;

}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}


#search1{
  width: 50%;
  margin: auto;
}

#showcase{
  background-image:url('showcase.jpg');
  background-position:center right;
  min-height:300px;
  margin-bottom:30px;
  text-align: center;
}

#showcase h1{
  color:#fff;
  font-size:50px;
  line-height: 1.6em;
  padding-top:30px;
}
#sidebar{
  float:right;
  width:30%;
  background: #333;
  color:#fff;
  padding:10px;
  box-sizing: border-box;
}

.status{
  display: block;
  margin-left:20px;
}
.sel_item_image_view{
width:30%;
margin : 0;
float : left ;
}

.sel_item_info {
width:30%;
margin : 0;
float : left ;
}

.twenty
{
  width:28%;
  float:left;
  padding:10px;
  overflow:auto;
  margin:10px;
  margin-top: 40px;
  border: 2px ridge;

}
.twenty a{
      display: block;
}
.wrapper {
width:70%;
margin-left: auto;
margin-right: auto;
border : 1px #000 groove;
border-radius: 10px;
margin-top: 20px;
}
.w3-button {width:200px;}

//multicarousel

.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#000;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }

        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }


//multicarousel end
