<br><br>
{% extends "style.html" %}
{% block content %}
<div class="container">
<ul class="inline font-weight">
  <span class="left">
    <li>Smart Shop</li>
   </span>
   <span class="right">
      <i class="fa fa-lock grey" style="font-size:24px"></i> <small class="text-muted"> 100%  SECURE</small>
    </span>
   <div class="center">
    <li class="underline"><a href="#">Bag</a></li>
    <li>........</li>
    <li >Delivery</li>
    <li>........</li>
    <li>Payment</li>
    </div>

</ul>
<hr>
<br>
  <div class="full-box text-muted">
      <b>Offers</b>
      <ul>
        <li>Free delievery on orders above 999</li>
        <li>10% off on min spend of Rs 1499.</li>
        <li>Additional 5% off on min spend of Rs 2,999.</li>
      </ul>
  </div>
  {% if number == 0 %}
    <h4>Your shopping cart is empty. </h4>
  {% else %}
  <div class="eighty">
    <h3><b>My Shopping Bag ({{number}} item)</b></h3>
    {% for item in items %}
     <div class="box-1">
      <div class="cart-left">
        <img class="rounded article-image" width="150" height="150" src= " {{ url_for('static', filename=item['Category'] +'/'+item['Image'][0]) }}">
      </div>
      <b> <a href="{{ url_for('main.item',item_id=item['_id'] ) }}">{{ item["Short Description"] }} </a> </b>
      <div class="cart-right">
           <strong> Rs.{{item["Price"] }} </strong>
      </div><br>
      <small class="text-muted">Sold By:<b>{{item["Seller"]}}</b></small>
      <div class="cart-right">
      {% if item["Discount"] !=0 %}
         <small class="text-muted">({{item["Discount"]}}% OFF)</small>|
        <font  color="#FF4500"><strike> Rs.{{item["Mrp"] }}</strike></font>
      {% endif %}
      </div><br>
      <form name="si" action=" {{ url_for('users.update_cart', item_id=item['_id'], item_attr=item['quantity'] ) }}" method='post' >
              <select name='si' onchange="this.form.submit()">
                {% for key,value in item['Size'].items() %}
                  {% if value|int > 0 %}
                    Size:<option value={{key}} >{{key}}</option>
                  {% endif %}
                {% endfor %}
              </select>
              <noscript><input type="submit" value="Submit"></noscript>
              </form>

            <form name="qt" action=" {{ url_for('users.update_cart', item_id=item['_id'] ,item_attr=item['size']) }}" method='post' >
              <select name='qt' onchange='this.form.submit()'>
                {% if item["Size"][item['size']] > 10 %}
                  {% for q in range(2,10) %}
                    Quantity:<option value={{q}} >{{q}}</option>
                  {% endfor %}
                {% else %}
                  {% for q in range(1,item["Size"][ item['size'] ] ) %}
                    Quantity:<option value={{q}} >{{q}}</option>
                  {% endfor %}
                {% endif %}

              </select>
            </form>
            <a class="button" href=" {{url_for('users.remove_from_cart',item_id=item['_id'], size=item['size']) }}">Remove</a>
          </br>
             </div>
  </br>
</article>
  {% endfor %}
</div>
    <div class="twenty text-muted">
      <h3 class="text-centred">Price Details</b></h3>

      <div class="cart-left">

            <h5>Bag Total</h5>
            <h5>Bag Discount</h5>
            <h5>Estimated Tax</h5>
            <h5>Delivery Charges</h5>
            <hr>
            <h3><b>Order Total</b></h3>
       </div>
      <span class="cart-right"> <h5>Rs.{{dict["bag_mrp"]}}</h5></span>
        <span class="cart-right"><h5>-Rs.{{dict["bag_discount"]}}</h5></span>
        {% set tax=(0.05*dict["bag_total"])|int %}
        <span class="cart-right"> <h5>{{tax}}</h5></span>
        {% if dict["bag_total"] < 999 %}
            {% set delivery=149 %}
            {% else %}
            {% set delivery=0 %}
            {% endif %}
            {% if delivery==0 %}
              <span class="cart-right"><h5>Free</h5></span>
            {%else%}
              <span class="cart-right"><h5>Rs.149</h5></span>
            {% endif %}
          {% endif %}
     <hr>
    <span class="cart-right"><h5>Rs.{{ tax+delivery+dict["bag_total"]}}</h5></span>
    <br>
     <a class="btn btn-primary btn-block" style="margin-top:200px" href="{{url_for('users.checkout')}}">Place Order </a>
  </div>
</div>
{% endblock content %}

