
{% extends "layout.html" %}

{% block content %}
<div class="row">
<div class="container">
<div class="input-group col-sm-6  text-center" >
      <input class="form-control py-2" type="search" value="search" id="example-search-input">
      <span class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">
            <i class="fa fa-search"></i>
        </button>
      </span>
</div>
</div>
<br>

<article class="col-lg-3 col-md-3 col-sm-6 col-xs-12" >
{% for item in items.find() %}

  <div class="one-item">
    <a href="{{ url_for('main.item', item_id=item['_id']) }}">
      <img class="rounded article-image" width="250" height="250" src= " {{ url_for('static', filename='shirts/'+item['Image'][0]) }}">
    </a>
	 <div class="box-1">
    	  <h5> <a  id="br" href="{{ url_for('main.item',item_id=item['_id'] ) }}">{{item["Brand"] }}</a> </h5>
      		<small class="text-muted" id="des">{{item["Short Description"]}}</small>
            <div class="price">
                <small id="pr">Rs.{{item["Price"]}} <strike id="mr">{{item["Mrp"]}}</strike></small>
                <p> <div class="text-danger" id="di" > {{item["Discount"]}}%OFF </div> </p>
            </div>
           <a class="btn btn-success btn-md" href="{{ url_for('users.cart') }}">Buy Now</a>
           <a class="btn btn-success btn-md" href="{{ url_for('users.add_to_cart',item_id=items['_id']) }}">Add To Cart</a>
    </div>
  </div>
</article>

{% endfor %}
</div>
<br><br><br>
{% endblock content %}

