
{% extends "layout.html" %}
{% block content %}
        <article class="container">
            <img class="rounded article-image" width="250" height="250" src= " {{ url_for('static', filename='shirts/2.2.jpg') }}">
                <div class="box-1">
                  <h4>  {{ item["Brand"] }}</h4>
                    <small class="text-muted">{{ item["Description"] }}</small>
                    <div class="price">
                        <small> {{item["Price"] }} <strike> {{item["Mrp"] }} </strike></small> <p class="text-danger" > {{item["Discount"] }}% OFF</p>
                    </div>

                    <div>
                        <small> Select Size</small>
                        <ul>
                            <li>{{item["Size"] }}</li>
                        </ul>
                        <a class="button" href="">Buy Now</a>
                        <a class="button" href="">Add To Cart</a>
                    </div>

                    <div>
                    <p>
                        <small> Product Details </small>
                        {{ item["Product Details"]}}
                        <br>
                        <small> Material & Care</small>
                        {{ item["Material & Care"]}}
                    </p>

                </div>
            </div>
        </article>
{% endblock content %}
