
{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="script.js"></script>
    <article class="container">
        {% for order in dict_order_details %}
            Order Id:{{order["_id"]}}
                {% for item in order["item_info"] %}
                    <h2> {{ item["Brand"] }} </h2>
                    <div class="img-zoom-container">
                    <img class="rounded article-image" id="image" width="100" height="100" src= " {{ url_for('static', filename='item['Category']'+item['Image'][0]) }}">
                    <!--<div id="myresult" class="img-zoom-result"></div> -->
                    </div>

                    <a href="{{ url_for('main.item',item_id=item['_id'] ) }}"><small class="text-muted">{{ item["Short Description"] }}</small> </a>
                    <div class="price">
                       Price <small> {{order["item_details"][loop.index-1]["price"] }}
                    </div>
                    Quantity{{ order["item_details"][loop.index-1]["quantity"]}}
                 {% endfor %}
                 <br>
                 {% if order['status'] == 'IN PROGRESS' %}
                     <b>Estimated Delivery:</b>
                {% else %}
                    {{ order['status'] }}
                    <b> Delivered on:</b>

                {% endif %}
                    <b>{{order["delivery_date"].strftime("%A") }}, {{order["delivery_date"].strftime("%B")}} {{order["delivery_date"].day }}  {{order["delivery_date"].year}} </b>
                <br>
                <br>
                <br>
                 <h5> Order Placed on:{{order["date"].strftime("%A")}},{{order["date"].strftime("%B")}}{{order["date"].day }}  {{order["date"].year}} </h5>


                <div>
                    Order total:{{order["order_total"]   }}
                </div>
                {% if order["status"] == "IN PROGRESS" %}
                    <a class="button" href=" {{url_for('users.cancel_order',order_id=order['_id']) }}">Cancel Order</a>
                {% endif %}
                {% endfor %}
                <br>
                <br>
                <br>

    </article>
    <script type="text/javascript" src="script.js">
        imageZoom("image", "myresult");
    </script>
{% endblock content %}
